<div class="ui vertical segment">

  <div class="ui container">
    <div class="ui grid">
      <div class="eight wide column">
        <h1 class="ui header main-header">
          Generate your own music!
        </h1>
        <h2>
          1. Enter some notes below.
        </h2>
        <h2>
          2. Hit the PLAY button.
        </h2>
        <h2>
          3. Enjoy the music our model generated for you!
        </h2>
      </div>
      <div class="eight wide column">   
        <div class="bottom-helper">
          <button class="ui fluid huge green save button bottom">
            GO
          </button>  
        </div>
        
      </div>
    </div>

    <br><br>
    <div class="ui grid notes-grid">
      <div class="row">
        <div class="two wide column note-column">
          <div class="ui fluid vertical buttons">
            <button class="ui button note-button" name="c4">C</button>
            <button class="ui button note-button" name="d4">D</button>
            <button class="ui button note-button" name="e4">E</button>
            <button class="ui button note-button" name="f4">F</button>
            <button class="ui button note-button" name="g4">G</button>
            <button class="ui button note-button" name="a4">A</button>
            <button class="ui button note-button" name="b4">B</button>
            <button class="ui button note-button" name="c5">C</button>
          </div>
        </div>
        <div class="two wide column note-column">
          <div class="ui fluid vertical buttons">
            <button class="ui button note-button" name="c4">C</button>
            <button class="ui button note-button" name="d4">D</button>
            <button class="ui button note-button" name="e4">E</button>
            <button class="ui button note-button" name="f4">F</button>
            <button class="ui button note-button" name="g4">G</button>
            <button class="ui button note-button" name="a4">A</button>
            <button class="ui button note-button" name="b4">B</button>
            <button class="ui button note-button" name="c5">C</button>
          </div>
        </div>
        <div class="two wide column note-column">
          <div class="ui fluid vertical buttons">
            <button class="ui button note-button" name="c4">C</button>
            <button class="ui button note-button" name="d4">D</button>
            <button class="ui button note-button" name="e4">E</button>
            <button class="ui button note-button" name="f4">F</button>
            <button class="ui button note-button" name="g4">G</button>
            <button class="ui button note-button" name="a4">A</button>
            <button class="ui button note-button" name="b4">B</button>
            <button class="ui button note-button" name="c5">C</button>
          </div>
        </div>
        <div class="two wide column note-column">
          <div class="ui fluid vertical buttons">
            <button class="ui button note-button" name="c4">C</button>
            <button class="ui button note-button" name="d4">D</button>
            <button class="ui button note-button" name="e4">E</button>
            <button class="ui button note-button" name="f4">F</button>
            <button class="ui button note-button" name="g4">G</button>
            <button class="ui button note-button" name="a4">A</button>
            <button class="ui button note-button" name="b4">B</button>
            <button class="ui button note-button" name="c5">C</button>
          </div>
        </div>
        <div class="two wide column note-column">
          <div class="ui fluid vertical buttons">
            <button class="ui button note-button" name="c4">C</button>
            <button class="ui button note-button" name="d4">D</button>
            <button class="ui button note-button" name="e4">E</button>
            <button class="ui button note-button" name="f4">F</button>
            <button class="ui button note-button" name="g4">G</button>
            <button class="ui button note-button" name="a4">A</button>
            <button class="ui button note-button" name="b4">B</button>
            <button class="ui button note-button" name="c5">C</button>
          </div>
        </div>
        <div class="two wide column note-column">
          <div class="ui fluid vertical buttons">
            <button class="ui button note-button" name="c4">C</button>
            <button class="ui button note-button" name="d4">D</button>
            <button class="ui button note-button" name="e4">E</button>
            <button class="ui button note-button" name="f4">F</button>
            <button class="ui button note-button" name="g4">G</button>
            <button class="ui button note-button" name="a4">A</button>
            <button class="ui button note-button" name="b4">B</button>
            <button class="ui button note-button" name="c5">C</button>
          </div>
        </div>
        <div class="two wide column note-column">
          <div class="ui fluid vertical buttons">
            <button class="ui button note-button" name="c4">C</button>
            <button class="ui button note-button" name="d4">D</button>
            <button class="ui button note-button" name="e4">E</button>
            <button class="ui button note-button" name="f4">F</button>
            <button class="ui button note-button" name="g4">G</button>
            <button class="ui button note-button" name="a4">A</button>
            <button class="ui button note-button" name="b4">B</button>
            <button class="ui button note-button" name="c5">C</button>
          </div>
        </div>
        <div class="two wide column note-column">
          <div class="ui fluid vertical buttons">
            <button class="ui button note-button" name="c4">C</button>
            <button class="ui button note-button" name="d4">D</button>
            <button class="ui button note-button" name="e4">E</button>
            <button class="ui button note-button" name="f4">F</button>
            <button class="ui button note-button" name="g4">G</button>
            <button class="ui button note-button" name="a4">A</button>
            <button class="ui button note-button" name="b4">B</button>
            <button class="ui button note-button" name="c5">C</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>