<div class="ui inverted vertical segment center aligned">
  <h1 class="ui inverted header main-header">
    Generate Music <br> With AI
  </h1>

  <div class="ui container">
    <h1 class="ui grey inverted header samples-text">
      Try out the samples.
    </h1>

    <br><br>
    <div class="ui grid">
      <div class="four wide column">
        <div class="player first">
          <span class="helper"></span>
          <i href="#" class="huge inverted purple play link icon play-icon"></i>
        </div>
      </div>
      <div class="four wide column">
        <div class="player second">
          <span class="helper"></span>
          <i href="#" class="huge inverted yellow play link icon play-icon"></i>
        </div>
      </div>
      <div class="four wide column">
        <div class="player third">
          <span class="helper"></span>
          <i href="#" class="huge inverted green play link icon play-icon"></i>
        </div>
      </div>
      <div class="four wide column">
        <div class="player fourth">
          <span class="helper"></span>
          <i href="#" class="huge inverted teal play link icon play-icon"></i>
        </div>
      </div>
    </div>
  </div>

  <h1 class="ui header bottom highlighted">
    <p><i class="angle down icon"></i> Scroll down to try out the demo! <i class="angle down icon"></i></p>
  </h1>
</div>